@import "tailwindcss";

body {
    
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    margin: 0%;
    padding: 0%;
    height: 100vh;
    box-sizing: border-box;
    margin: 10px;
    color: #F8F9FA;
}

h1 {
    color: #001a45;
}

h4,
h3 {
    color: #2a3d5c;
    font-weight: bold;
    font-size: large;
    margin: 10px;
}

p,
ol,
ul {
    font-size: medium;
    margin: 10px;
    color: #0f172a;
}


pre code {
    font-size: 80%;
    display: flex;
    width: 100%;

}

pre {
    background: radial-gradient(circle at 30% 30%, #702963, #1e3a8a);
    color: #F1F5F9;
    padding: 5px 10px;
    border-radius: 15px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: pre-wrap;
    word-break: break-all;
    font-family: 'Courier New', Courier, monospace;

}

/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #9bb9e6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9bb9e6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9bb9e6;
}

